*{
	padding:0;
	margin: 0;
	outline: 0;
}
.nav{
	width: 100%;
	height: 60px;
	background-color: #9cc239;
	-moz-box-shadow:0 10px 8px #cacacc;
	-webkit-box-shadow:0 10px 8px #cacacc;
	box-shadow:0 10px 8px #cacacc;
}
.nav-box{
	padding-left: 150px;
	width: 525px;
	list-style: none;
	color:#fff;
}
.nav-item{
	width: 130px;
	height: 60px;
	float: left;
	border-left:1px solid #7f9c2e;
	cursor: pointer;
}
.nav-item:last-child{
	border-right:1px solid #7f9c2e;
}
.current{
	background-color: #8cae33;
}
.nav-item:hover{
	background-color: #a6c84d;
}
.hci-logo{
	padding: 16px 30px;
}
.nav-item-logo{
	float: left;
	padding: 20px 0 0 21px;
}
.nav-item-text{
	float: left;
	padding: 22px 0 0 13px;
}
.person-box{
	width: 100%;
}
.persons{
	width: 1024px;
	margin: auto;
	list-style: none;
}
.person{
	width: 960px;
	min-height: 285px;
	height: auto!important;
	height: 285px;
	margin-top: 28px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.person-photo-box{
	float: left;
	margin: 35px;
}
.person-info-box{
	width: 700px;
	margin: 30px 0 0 240px;
}
.person-info-row{
	padding: 3px 0;
}
.person-info-item{
	display: inline-block;
	width: 340px;
}

.person-info-project{
	padding: 3px 0;
}
.project-item{
	list-style: none;
	text-indent: 15px;
}
.project-name{
	display: inline-block;
	width: 550px;
	word-break:break-all;
}