#source {
   flow: "main-thread";
}
    
.region {
    content: from(main-thread);
    background: #C5DFF0;
}
.circle{
/* shape the element as a circle */
wrap-shape: polygon(0px, 150px /* ...more points */);
wrap-shape-mode: content;   
}

.heart{
	/* shape the element as a heart */
	wrap-shape: polygon(150px, 32px /* ...more points */);  
	wrap-shape-mode: content;   
}